h1,h4,h3,h2,h5{
    font-family:'Dancing Script', cursive;
   
}
.container-fluid .collapse a{
    color:white;
}
.navbar-brand,.navbar-brand:hover{
    font-size: 45px;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}
 
.nav-item a:hover{
background-color: rgba(255, 255, 255, 0.3);
color:black;
padding: 10px;
font-weight: bold;
transition: padding 0.3s ease;
transition:  0.3s ease;
border-radius: 6px;

}